@charset "utf-8";
/* 

***********  目次  ***********

＋ 全体 / 共通
＋ コラム上部 / columnHead_area
    -> 800幅head枠 / head_container
        - 上部タグ / articleTag
        - メイン画像 / heroImage_block
＋ コラム本体 / columnBody_container
    -> このページの記事全体を包括する枠 / article.column_wrap
        - column_wrap直下section / column_wrap > section
    -> 記事冒頭section / section.prologue_section
        - sentence_block
        - 挿入画像 / insertImage_block
        - 挿入求人 / insertRelatedJob_zone
        - 求人読み込み内容 / ogpJob_wrap
    -> 最後に / section.postscript
    -> 記事後のタグ / postTag_block
        - ボタンタイプのタグ / ul.articleTag btnType
    -> 記事後のカテゴリ / postCategory_block
    -> 記事後のSNS / postSns_block
        - ul.snsIcon_item
    -> 読み込み求人の枠 / ogpJob_wrap
        - おすすめ求人 / relatedJob_box
    -> おすすめ記事 / recommendArticle_wrap
        - おすすめ記事リスト / article_list
            おすすめ記事のボックスarticle.article_box
    -> この記事を読んだ人におすすめな求人 / relatedJob_box triplePic_layout

≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡

＋ 全体 / 共通

≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡ */
.upload_block {
  width: 800px;
  margin: 0 auto;
  padding: 20px 0 50px;
}
body,ul,li,dl,dt,dd,p,section,article,h1,h2,h3,h4 { margin: 0; padding: 0; list-style-type: none; }
body { font-family: 'Noto Sans JP', sans-serif; letter-spacing: .1em; }
#Articles_index {
  letter-spacing: .1em;
}
a {
  text-decoration: none;
  color: #252f41;
}
.columnBody_container h1,
.columnBody_container h2,
.columnBody_container h3,
.columnBody_container h4 {
  font-weight: bold;
  color: #252f41
}
.columnBody_container section p {
  margin-bottom: 30px;
  line-height: 2;
  font-size: 16px;
  color: #252f41 
}

/* ≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡

＋ コラム上部

≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡ */
.columnHead_area {
  position: relative;
  width: 100vw;
  height: 580px;
  margin-bottom: 30px;
  overflow: hidden;
}
.columnHead_area:before {
  content: '';
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  display: block;
  width: 100vw;
  height: inherit;
  background: rgba(37, 47, 65, .6);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
}
.columnHead_area:after {
  content: '';
  position: absolute;
  z-index: 2;
  left: 0;
  right: 0;
  bottom: -120px;
  display: block;
  width: 100vw;
  height: 300px;
  transform: skewY( -5deg );
  background: #fff;
}
/*
    -> 800幅head枠

================================================== */
.columnHead_area .head_container {
  position: relative;
  z-index: 3;
  width: 800px;
  margin: auto;
}
/*
        - 上部タグ / articleTag

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.articleTag {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 60px;
}
.articleTag li {
  font-style: italic;
}
.head_container .articleTag li {
  margin-right: 40px;
}
.head_container .articleTag a {
  font-weight: bold;
  font-size: 12px;
  color: #fff;
}
.head_container .articleTag a:before {
  content: '#';
  padding-right: 5px;
}
/*
        - メイン画像 / heroImage_block

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.heroImage_block {
  position: relative;
  margin-bottom: 20px;
  width: 800px;
  height: 450px;
  overflow: hidden;
}
.heroImage_block img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.heroImage_block .parentCategory_block {
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
  width: 200px;
  height: 40px;
  background: #fff;
  font-weight: bold;
  font-size: 12px;
  color: #2e3037;
}
.parentCategory_block:before {
  content: '';
  display: inline-block;
  width: 14px;
  height: 10px;
  margin-right: 15px;
  background: url(article/icon_category_db.png) no-repeat;
  background-size: 100%;
}
.date_item {
  margin-bottom: 10px;
  padding-left: 25px;
  background: url(article/icon_date_ldb.png) no-repeat left center;
  font-weight: bold;
  font-size: 14px;
}
.view_item {
  padding-left: 25px;
  background: url(article/icon_view_ldb.png) no-repeat left center;
  font-size: 11.5px;
}
.view_item span {
  padding-right: 6px;
  font-weight: bold;
  font-size: 14px;
}
.addStatus_block.unit {
  display: flex;
  justify-content: space-between;
}
.statusLeft_part {
  width: calc(100% - 180px);
}
.statusRight_part {
  width: 180px;
}
.head_container .snsIcon_item {
  display: flex;
}
.head_container .snsIcon_item li {
  margin-left: 30px;
}
.head_container .snsIcon_item li.twitter { width: 20px; }
.head_container .snsIcon_item li.facebook { width: 12.5px; }
.head_container .snsIcon_item li.hatebu { width: 20px; }
.head_container .snsIcon_item li.LINE { width: 25px; }
.head_container .snsIcon_item li a {
  width: 100%;
  -webkit-filter: grayscale(100%) brightness(120%) saturate(80%);
  filter: grayscale(100%) brightness(120%) saturate(80%);
  transition: .3s;
}
.head_container .snsIcon_item li a:hover {
  width: 100%;
  -webkit-filter: grayscale(0%) brightness(100%) saturate(100%);
  filter: grayscale(0%) brightness(100%) saturate(100%);
}
.head_container .snsIcon_item li a img {
  transition: .5s;
}
.head_container .snsIcon_item li a:hover img {
  transform: scale(1.3);
}

/* ≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡

＋ コラム本体

≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡ */
.columnBody_container {
  position: relative;
  z-index: 4;
  width: 800px;
  margin: auto;
}
/*
    -> このページの記事全体を包括する枠

================================================== */
.column_wrap h1 {
  position: relative;
  margin-bottom: 25px;
  padding-left: 70px;
  line-height: 1.4;
  letter-spacing: .2em;
  font-weight: bold;
  font-size: 40px;
}
.column_wrap h1:before {
  content: '';
  position: absolute;
  z-index: 0;
  top: 30px;
  left: 0;
  bottom: 0;
  display: block;
  width: 40px;
  height: 1px;
  background: #252f41;
}
#file_sample {
  display: none;
}
label[for=file_sample] {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 240px;
  height: 60px;
  border-radius: 6px;
  background: #ea1662;
  font-weight: bold;
  color: #fff;
}
label[for=file_sample]:hover {
  cursor: pointer;
}
.changeText_block {
  margin-bottom: 20px;
}
.changeText_block p {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}
.changeText_block span {
  display: block;
  width: 150px;
}
.changeText_block p a {
  position: absolute;
  right: 10px;
  top: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 40px;
  line-height: 30px;
  text-align: center;
  background: #222;
  border-radius: 3px;
  font-weight: bold;
  font-size: 13px;
  color: #fff;
}
.changeH1, .changeSubHeading {
  width: calc(100% - 150px);
  height: 40px;
  padding: 12px 100px 12px 12px;
}
